.container{
    height: 33rem;
    margin-left: 5rem;
    margin-top: 3rem;
    margin-right: 5rem;
    border-radius: 1%;
    padding: 1rem;
}

.subjectAdder{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;
    padding-left: 8rem;
}
.subjectAdderHeading{
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    color: white;
}


.addAsSubject{
    margin-right: 1rem;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-top: 1rem;
    padding: 0.5rem;
    outline: none;
    border: none;
    border-radius: 8px;
    
}

.addAsLab{
    background-color: #b2a656;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-top: 1rem;
    padding: 0.5rem;
    outline: none;
    border: none;
    border-radius: 8px;
    
}

.primaryInputs{
    margin-right: 1rem;
    padding: 0.5rem;
    outline: none;
}

.tableDisplay{
    width: 80%;
    margin: 30px auto;
    border-collapse: collapse;
    border-collapse: separate;
    border-spacing: 0;
}



.tableDisplay tr:last-child td{
    border-bottom: 1px solid white;
}
.tableDisplay th,td {
    padding: 10px;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.tableDisplay th {
    background-color: #00000000;
    color: white;
    border: none;
    border-top: 1px solid white;
}

.tableDisplay td{
    border:none
}
.tableDisplay tr:hover td{
    border: 1px solid rgb(0, 0, 0);
   
}

.normalClass{
    background-color: #f2f2f200;
    color: white;
}

.normalClass:hover {
    background-color: #e0e0e0b7;
    color: black;
}

.lab{
    background-color: #eef0d100;
    color: white;
}

.lab:hover {
    background-color: #dfe2b8a9;
    color: black;
}

.groupedClass{
    background-color: #d1f0ed00;
    color: white;
}

.groupedClass:hover {
    background-color: #9dcdd488;
    color: black;

}




.close{
    height: 1rem;
}
.close:hover{
    cursor: pointer;
}

.hidden{
    display: none;
}

.block{
    display: block;
}


.tableGroupDisplay{
    width: 30%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-collapse: separate;
border-spacing: 0;
margin-bottom: 2rem;
}

.tableGroupDisplay th:first-child {
    border-top-left-radius: 10px; 
    
  }
  
.tableGroupDisplay th:last-child {
    border-top-right-radius: 10px; 
    
  }

.tableGroupDisplay th,td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #e4e4d8;
    
}

.tableGroupDisplay th {
    background-color: #d3d2d2;
}


.tableGroupDisplay tr:hover {
    background-color: rgb(229, 231, 231);
    
}

.whiteLable{
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    color: white;
    margin-right: 1rem;
}

.selectBranchInputContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropDown{
    padding: 0.3rem;
    outline: none;
    border-radius: 8px;
    background-color: white ;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;

}

.groupedLable{
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    color: white;
    margin-left: 1rem;
}

.isGroupedInputContainer{
    margin-top: 1rem;
}

.requiredRoomInputContainer{
    margin-top: 1rem;
}