.container{
    width: 100vw;
}

.textStyle{
    color: #EDEDED;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.row{
    height: 3rem;
    display: flex;
    margin-top: 2rem;
    justify-content:space-around;
    
    margin-left: 1rem;
    margin-right: 1rem;
    
}

.customNavigationButton{
    outline: none;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: #FFFFFF;
    border-bottom: 2px solid rgba(255, 255, 255, 0.20);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
.customNavigationButton:hover{
    cursor: pointer;
}

.selectedNav{
    outline: none;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: #D7E9B1;
    border-bottom: 2px solid #FFFFFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}